{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 80,
    "useTabs": false,
    "tabWidth": 4,
    "importOrder": [
        "^(?!Laya|laya|honor|comMan)([\\w-]+)(/([\\w-]+))*$",
        "^(laya|Laya|honor|comMan)(.*)$",
        "^@app/(.*)$",
        "^([./])(.*)$"
    ],
    "importOrderSeparation": true
}
